[mysqld]
server-id = 3
relay-log = mysql-relay-bin
log-slave-updates = 1
read-only = 1
gtid-mode = ON
enforce-gtid-consistency = ON
log-bin = mysql-bin
binlog-format = ROW

# Performance optimizations
innodb_flush_log_at_trx_commit = 2
sync_binlog = 0
innodb_buffer_pool_size = 128M
max_connections = 200

# Replication settings
slave_net_timeout = 60
slave_skip_errors = 1062,1032
